In [1]:
import pandas as pd

In [2]:
%pwd

'C:\\Users\\USER'

In [3]:
%cd desktop\\python

C:\Users\USER\desktop\python

In [4]:
elec=pd.read_csv('LS2014Electors.csv',sep=',')

In [5]:
elec.head()

,STATE CODE,STATE,PC NO,PARLIAMENTARY CONSTITUENCY,Total voters,Total_Electors,POLL PERCENTAGE
0,S01,Andhra Pradesh,1,Adilabad,1055593,1386282,76.15
1,S01,Andhra Pradesh,2,Peddapalle,1025194,1425355,71.93
2,S01,Andhra Pradesh,3,Karimnagar,1127225,1550810,72.69
3,S01,Andhra Pradesh,4,Nizamabad,1034032,1496193,69.11
4,S01,Andhra Pradesh,5,Zahirabad,1099784,1445354,76.09

In [6]:
elec.tail()

,STATE CODE,STATE,PC NO,PARLIAMENTARY CONSTITUENCY,Total voters,Total_Electors,POLL PERCENTAGE
538,U05,NCT OF Delhi,5,NORTH WEST DELHI,1356404,2194343,61.81
539,U05,NCT OF Delhi,6,WEST DELHI,1348744,2039410,66.13
540,U05,NCT OF Delhi,7,SOUTH DELHI,1102849,1752748,62.92
541,U06,Lakshadweep,1,Lakshadweep,43242,49922,86.62
542,U07,Puducherry,1,Puducherry,740053,901357,82.10

In [7]:
elec.shape

(543, 7)

In [8]:
elec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 543 entries, 0 to 542
Data columns (total 7 columns):
STATE CODE                    543 non-null object
STATE                         543 non-null object
PC NO                         543 non-null int64
PARLIAMENTARY CONSTITUENCY    543 non-null object
Total voters                  543 non-null int64
Total_Electors                543 non-null int64
POLL PERCENTAGE               543 non-null float64
dtypes: float64(1), int64(3), object(3)
memory usage: 29.8+ KB

In [9]:
elec.describe()

            PC NO  Total voters  Total_Electors  POLL PERCENTAGE
count  543.000000  5.430000e+02    5.430000e+02       543.000000
mean    18.968692  1.020581e+06    1.536064e+06        67.319816
std     16.560438  1.929034e+05    2.881144e+05        10.316871
min      1.000000  4.324200e+04    4.992200e+04        25.860000
25%      6.000000  9.405790e+05    1.425049e+06        59.285000
50%     15.000000  1.034032e+06    1.555781e+06        66.750000
75%     27.000000  1.130322e+06    1.694062e+06        75.825000
max     80.000000  1.624859e+06    3.183083e+06        88.360000

In [10]:
elec.index

RangeIndex(start=0, stop=543, step=1)

In [11]:
elec['STATE'].value_counts()

Uttar Pradesh                80
Maharashtra                  48
Andhra Pradesh               42
West Bengal                  42
Bihar                        40
Tamil Nadu                   39
Madhya Pradesh               29
Karnataka                    28
Gujarat                      26
Rajasthan                    25
Odisha                       21
Kerala                       20
Assam                        14
Jharkhand                    14
Punjab                       13
Chhattisgarh                 11
Haryana                      10
NCT OF Delhi                  7
Jammu & Kashmir               6
Uttarakhand                   5
Himachal Pradesh              4
Manipur                       2
Arunachal Pradesh             2
Goa                           2
Tripura                       2
Meghalaya                     2
Sikkim                        1
Chandigarh                    1
Lakshadweep                   1
Daman & Diu                   1
Puducherry                    1
Nagaland                      1
Andaman & Nicobar Islands     1
Mizoram                       1
Dadra & Nagar Haveli          1
Name: STATE, dtype: int64

In [12]:
elec['STATE'].describe()

count               543
unique               35
top       Uttar Pradesh
freq                 80
Name: STATE, dtype: object

In [13]:
elec['STATE'].value_counts().max()

80

In [14]:
elec['PARLIAMENTARY CONSTITUENCY'].describe()

count          543
unique         540
top       Hamirpur
freq             2
Name: PARLIAMENTARY CONSTITUENCY, dtype: object

1     35
2     26
3     21
4     21
5     20
6     19
7     18
9     17
10    17
8     17
11    16
12    15
13    15
14    14
17    12
20    12
18    12
19    12
16    12
15    12
21    11
22    10
23    10
24    10
25    10
26     9
27     8
28     8
29     7
39     6
      ..
66     1
67     1
68     1
69     1
70     1
75     1
72     1
73     1
74     1
64     1
76     1
77     1
78     1
65     1
60     1
63     1
62     1
61     1
59     1
58     1
57     1
56     1
55     1
54     1
53     1
52     1
51     1
50     1
49     1
80     1
Name: PC NO, Length: 80, dtype: int64

In [16]:
elec.columns

Index(['STATE CODE', 'STATE', 'PC NO', 'PARLIAMENTARY CONSTITUENCY',
       'Total voters', 'Total_Electors', 'POLL PERCENTAGE'],
      dtype='object')

In [17]:
elec.columns=['STATE_CODE', 'STATE', 'PC_NO', 'CONSTITUENCY',
       'Total_voters', 'Total_Electors', 'POLL_PERCENTAGE']

In [18]:
elec[elec.POLL_PERCENTAGE>85]

,STATE_CODE,STATE,PC_NO,CONSTITUENCY,Total_voters,Total_Electors,POLL_PERCENTAGE
31,S01,Andhra Pradesh,32,Bapatla,1186250,1392964,85.16
47,S03,Assam,4,Dhubri,1369722,1550166,88.36
276,S17,Nagaland,1,Nagaland,1039962,1182972,87.91
376,S23,Tripura,1,Tripura West,1075932,1248546,86.17
460,S25,West Bengal,3,Jalpaiguri,1304280,1531469,85.17
468,S25,West Bengal,11,Murshidabad,1288578,1512098,85.22
475,S25,West Bengal,18,Basirhat,1274085,1490596,85.47
477,S25,West Bengal,20,Mathurapur,1271208,1488785,85.39
486,S25,West Bengal,29,Arambagh,1362848,1600293,85.16
487,S25,West Bengal,30,Tamluk,1338336,1527273,87.63
488,S25,West Bengal,31,Kanthi,1292373,1490409,86.71
490,S25,West Bengal,33,Jhargram,1257645,1475112,85.26
494,S25,West Bengal,37,Bishnupur,1272099,1466921,86.72
495,S25,West Bengal,38,Bardhaman Purba,1321140,1532244,86.22
499,S25,West Bengal,42,Birbhum,1275948,1495089,85.34
541,U06,Lakshadweep,1,Lakshadweep,43242,49922,86.62

In [19]:
elec['STATE'] [elec.POLL_PERCENTAGE>85] .value_counts()

West Bengal       11
Assam              1
Nagaland           1
Andhra Pradesh     1
Lakshadweep        1
Tripura            1
Name: STATE, dtype: int64

In [20]:
elec['STATE'][elec.Total_Electors>2000000].value_counts()

NCT OF Delhi      2
Andhra Pradesh    2
Karnataka         2
Uttar Pradesh     2
Maharashtra       1
Madhya Pradesh    1
Name: STATE, dtype: int64

In [21]:
elec['STATE'] [elec.POLL_PERCENTAGE<30] .value_counts()

Jammu & Kashmir    2
Name: STATE, dtype: int64

In [22]:
elec['STATE'] [elec.POLL_PERCENTAGE<30]

141    Jammu & Kashmir
142    Jammu & Kashmir
Name: STATE, dtype: object

In [23]:
elec[['STATE','POLL_PERCENTAGE']] [elec.POLL_PERCENTAGE<30].min()

STATE              Jammu & Kashmir
POLL_PERCENTAGE              25.86
dtype: object

In [24]:
elec['STATE'][elec.CONSTITUENCY=="Maval"]

255    Maharashtra
Name: STATE, dtype: object

In [25]:
elec[['STATE','POLL_PERCENTAGE']] [elec.POLL_PERCENTAGE>40] [elec.POLL_PERCENTAGE<50]

C:\Users\USER\Documents\temp\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

              STATE  POLL_PERCENTAGE
86            Bihar            47.23
87            Bihar            45.36
89            Bihar            48.96
195  Madhya Pradesh            45.58
246     Maharashtra            42.94
251     Maharashtra            48.67
444   Uttar Pradesh            49.88